* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

header{
    padding-left: 15px;
    padding-top: 5px;
    text-align: center;
}


.main{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Sacramento', cursive;
}

h1{
    font-size: 14vw;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0;
    text-shadow: 4px 4px 0px black;
}



a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    padding: 8px 17px;
    color: rgba(255, 255, 255, 0.781);
    font-size: 4vw;
    box-shadow: 1px 1px 0px black;
    text-shadow: 2px 2px 0px black;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.688);
    transition: all 1s ease;
}

a:visited {
    color: white;
    text-decoration: none;
}

@media screen and (max-device-width: 700px) {
    h1 {
        font-size: 20vw;
    }

    a{
        font-size: 8vw;
    }

    i{
        width: 25px;
    }
}